.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-container.vertical {
  flex-direction: column;
}

.flex-container.horizontal {
  flex-direction: row;
}

.boxscore {
  max-width: 600px;
  box-sizing: border-box;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.team.header {
  border-bottom: 1px solid #ccc;
}

.team > label {
  min-width: 1.5rem;
  padding: 5px;
}

.team-units {
  width: 70%;
}

.team-units > span,
.team-results > span {
  padding: 5px;
  min-width: 1.5rem;
  max-width: 3rem;
  text-align: center;
}

.boxscore-details-team {
  flex: 1;
  padding: 10px 0;
}

.boxscore-details-info {
  padding: 0 1.5rem;
}
