.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-container.vertical {
  flex-direction: column;
}

.flex-container.horizontal {
  flex-direction: row;
}

.index {
  flex-wrap: wrap;
}

.index > div {
  margin: 30px;
}

.boxscore {
  max-width: 600px;
  box-sizing: border-box;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  flex: 1;
}

.boxscore > div {
  width: 100%;
  flex: 1;
}

.team {
  font-size: 0.8rem;
  line-height: 1.2rem;
}

.team.header {
  border-bottom: 1px solid #ccc;
}

.team.header > label {
  border-top-left-radius: 8px;
}

.team.header > .team-results {
  border-top-right-radius: 8px;
}

.team > label {
  text-align: center;
  white-space: pre;
  min-width: 2rem;
  padding: 5px;
  background: #eee;
  border-right: 1px solid #ccc;
}

.team-results {
  flex: 1;
  min-height: 100%;
  justify-content: space-evenly;
  background: #eee;
  border-left: 1px solid #ccc;
  font-weight: 700;
}

.team-units {
  flex: 5;
  justify-content: space-evenly;
  background: #fff;
}

.team-units > span,
.team-results > span {
  padding: 5px 0;
  min-width: 1.5rem;
  max-width: 3rem;
  text-align: center;
}

.boxscore-details {
  border-top: 1px solid #ccc;
}

.boxscore-details-team {
  flex: 1;
  padding: 10px 0;
  color: white;
  text-transform: uppercase;
}

.boxscore-details-team.away {
  background: #052b6e;
  border-bottom-left-radius: 8px;
}

.boxscore-details-team.home {
  background: #c8002d;
  border-bottom-right-radius: 8px;
}

.boxscore-details-team > p {
  font-size: 2rem;
  margin: 0;
}

.boxscore-details-team > span {
  font-size: 0.8rem;
}

.boxscore-details-info {
  padding: 1.7rem;
  background: #eee;
}
